Code/data_handling/set_twitter_api_keys.py
Code/data_handling/set_up_twitter_env_vars.sh
*.tex
*.log
*.zip
Pics/
Papers/
*.docx
*.aux
*.bbl
*.synctex.gz
Data/
*.blg
*.out
count_words.pl
*.bib
.DS_Store
Code/.env
Code/__pycache__
Code/old_working_files
Code/glove.twitter.27B
Code/data_handling/correct_data.csv
Code/results
